@import 'sass/colors';
@import 'sass/header';
@import 'sass/message';
@import 'sass/contactinfo';
@import 'sass/sidebar';
@import 'sass/smallsidebar';
@import 'sass/loginstat';
@import 'sass/faq';

*{
font-family: 'Source Sans Pro', sans-serif;
}
i{
	display:block;
	float:left;
	margin:10px;
}
.conline{
	// border-top:1px solid black;
	border-bottom:1px solid black;
}
.bold{
	
	font-weight:bold;
	text-align:start;
	position:relative;
}
.input{
	display:block;
	width:165px;
	height:20px;
	background-color:white;
	opacity:.1;
	margin-top:13px;
	margin-left:10px;
	border-radius:25px;
	
}

body{

	// div{
	// 	border:1px dashed black;
	// }		background-color:$bgcolor;
		background-color:$bgcolor;

	.bodypart{
		background-color:$bgcolor;


	}


	.maintext{
		background-color:white;
		// height:535px;
		padding:20px;
		width:100%;
		
	}
	.texttemp{
		margin-top:-1px;
		border: 1px solid $bordercolor;
		border-radius: 5px;
		margin-bottom:20px;
	}
	.tabtext{
		border: 1px solid $bordercolor;
		width:180px;
		height:50px;
		background-color: white;
		display:block;
		float:left;
		color:$innertabfont;
		// font-weight:bold;
		font-size:17px;
	}
	
	.messagebutton{
		background-color: white;

	}
	.contactinfobutton{
		background-color:$innertab;
		margin-left:-1px;
	}
	.mainfaqbutton{
		background-color:$innertab;
		margin-left:-1px;
	}
}
.hline{
		display:block;
		float:left;
		height:1px;
		width:100%;
		background-color:$linecolor;
		margin-top:5px;

	}
	.sechline{
		display:block;
		float:left;
		height:2px;
		width:100%;
		background-color:$linecolor;
		margin-top:5px;

	}

.exhline{
		display:block;
		float:left;
		height:1px;
		width:100%;
		background-color:$linecolor;
		opacity:0;
		
		margin-bottom:5px;
	}
.vline{
		display:block;
		float:left;
		height:50px;
		width:1px;
		margin-top:-10px;
		margin-bottom:-10px;
		margin-left:1px;
		margin-right:1px;
		background-color:$linecolor;
	}

.calendar{
	
	background-color:$color2  ;
	padding:0;
	// margin-right:-15px;
	color:white;
}
.tags{
	background-color:$color2  ;
	color:white;
}

.followupbox{

}

.tagsbox{

}

.loginstatbox{

}
.divider{
	width:10px;
}
.message{
	display:block;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:500px;
}
.contactinfo{
	display:none;
}
.mainfaq{
	display:none;
}
