@import 'sass/colors';
@import 'sass/header';
@import 'sass/message';

*{
font-family: 'Source Sans Pro', sans-serif;
}

.input{
	display:block;
	width:165px;
	height:20px;
	background-color:white;
	opacity:.1;
	margin-top:13px;
	margin-left:10px;
	border-radius:25px;
	
}

body{

	// div{
	// 	border:1px dashed black;
	// }

	background-color:$bgcolor;


	.maintext{
	
		height:535px;
		
	}
	.texttemp{
		margin-top:-1px;
		border: 1px solid $bordercolor;
		border-radius: 5px;
		background-color: white;
	}
	.tabtext{
		border: 1px solid $bordercolor;
		width:180px;
		height:50px;
		background-color: white;
		display:block;
		float:left;
	}
	.inneractive{
		background-color:$innertab;
		margin-left:-1px;
	}
}


