@import 'sass/colors';
@import 'sass/header';

*{
font-family: 'Source Sans Pro', sans-serif;
}

body{
	// div{
	// 	border:1px dashed black;
	// }
	background-color:$bgcolor;


	.maintext{
		margin-top:-1px;
		border: 1px solid $bordercolor;

		height:100px;
		background-color: white;
	}
	.tabtext{
		border: 1px solid $bordercolor;
		width:180px;
		height:50px;
		background-color: white;
		display:block;
		float:left;
	}
	.inneractive{
		background-color:$innertab;
		margin-left:-1px;
	}
}


