$color1:#444A4F;
$color2:#00B3A6;
$bgcolor:#F5FEFA;
$bordercolor:#D9E6E0;
$innertabfont:#9DA9A3;
$activetab:#008C7F;
$tab:#00978C;
$tabfont:#016E68;
$innertab:#F5F5F5;
$linecolor:#D9D9D9;
$contacthead:#00655E;
$msgbgcolor:#F3FAFF;