.header{
		background-color: $color1;
		width:100%;
		height:45px;
	}
.breaker{
		background-color:$color2;
		width:100%;
		height:7px;


	}

	.secheader{
		background-color: $color2;
		width:100%;
		height:90px;
		
		.tab{
			margin-top:7px;
			
			height:45px;
			width:175px;
			
			float:left;
			background-color:$tab;

		}
		.tabfont{
				margin-top:10px;
				text-align:center;
				display:block;
				font-size:20px;
				color:$tabfont;
				font-weight:bold;
			}
		.activetab{
			background-color:$bgcolor !important;
			color:$color2 !important;

		}
		.addtab{
			background-color:$tabfont;
			
		}
		.addtabfont{
			color:white;
			opacity:.7;
			font-weight:bold;
		}
		.closer{

			margin-top:-20px;
			margin-right:20px;
			font-size:12px;
			display:block;
			float:right;
			opacity:1;
			color:$tabfont;
		}
		.activecloser{
			opacity:1;
			color:black;
			
		}
		.adder{
			color:white;
			opacity:.7
		}
		
	}
	