<!-- views/partials/header.ejs -->

 <div class="navbar-header header">
        <!--   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          </button> -->
          <a class="navbar-brand" href="#"></a>

          
        </div><!--/.nav-collapse -->
        <div class="breaker">
        </div>
        <div class="secheader">
            <div class="tab activetab">
                <span class="tabfont activetab">Ticket 1</span>
                <span class="closer activecloser">x</span>
            </div>
            <div class="tab">
                <span class="tabfont">Ticket 2</span>
                <span class="closer">x</span>
            </div>
            <div class="tab">
                <span class="tabfont">Ticket 3</span>
                <span class="closer">x</span>
            </div>
        </div>