<!-- views/partials/header.ejs -->

 <div class="navbar-header header">
   
          <div class="input">
              
          </div>
          
        </div><!--/.nav-collapse -->
        <div class="breaker">
        </div>
        <div class="secheader">
            <div class="tab activetab">
                <span class="tabfont activetab">Ticket 1</span>
                <span class="closer activecloser">x</span>
            </div>
            <div class="tab">
                <span class="tabfont">Ticket 2</span>
                <span class="closer">x</span>
            </div>
            <div class="tab">
                <span class="tabfont">Ticket 3</span>
                <span class="closer">x</span>
            </div>
        </div>