<!DOCTYPE HTML>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- <link rel="stylesheet" href="css/materialize.css"> -->
		<link rel="stylesheet" href="css/styles.css">


	</head>
	<body>
	
		   
	
        <div class="navbar-header header">
        <!--   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          </button> -->
          <a class="navbar-brand" href="#"></a>

          
        </div><!--/.nav-collapse -->
        <div class="breaker">
        </div>
        <div class="secheader">
        	<div class="tab activetab">
        		<span class="tabfont activetab">Ticket 1</span>
        		<span class="closer activecloser">x</span>
        	</div>
        	<div class="tab">
        		<span class="tabfont">Ticket 2</span>
        		<span class="closer">x</span>
        	</div>
        	<div class="tab">
        		<span class="tabfont">Ticket 3</span>
        		<span class="closer">x</span>
        	</div>
        </div>
   <!--navbar above-->
    		
		    <br>
		    <br>
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="tabtext">
						Message
					</div>
					<div class="tabtext inneractive">
						Contact Info
					</div>
					<div class="tabtext inneractive">
						FAQ
					</div>
				</div>
			    <div class="row">
			    	<div class="col-md-6 maintext">
			    	</div>
			    </div>
			 </div>
		 </div>

	</body>
</html>