<div class="col-md-12 texttemp contactinfotext loginstatbox">
	<div class="contactinfotext">
	<div class="loginheader">
		<span class="contactheader loginheader"> LOGIN ISSUE</span>
	</div>
		<div>
			
			<div class="row ">
				<div class="col-md-5">
					<span class="bold">
						Ticket Duration
					</span>
				</div>
				<div class="col-md-7">
					1 Hour
				</div>
			</div>
			<div class="hline"></div>
			<div class="exhline"></div>
			<div class="row ">
				<div class="col-md-5">
					<span class="bold">
						Email Thread Status
					</span>
				</div>
				<div class="col-md-7">
					Recieved
				</div>
			</div>
			<div class="hline"></div>
			<div class="exhline"></div>
			<div class="row">
				<div class="col-md-5">
					<span class="bold">
						Priority
					</span>
				</div>
				<div class="col-md-7">
					Low
				</div>
			</div>
			<div class="hline"></div>
			<div class="exhline"></div>
			<div class="row">
				<div class="col-md-5">
					<span class="bold">
						Status
					</span>
				</div>
				<div class="col-md-7">
					Open
				</div>
			</div>
			<div class="hline"></div>
			<div class="exhline"></div>
			<div class="row">
				<div class="col-md-5">
					<span class="bold">
						Type
					</span>
				</div>
				<div class="col-md-7">
					1 Hour
				</div>
			</div>
			<div class="sechline"></div>

			<div class="exhline"></div>
			<div class="row">
				<div class="col-md-5">
					<span class="bold">
						Watchers
					</span>
				</div>
				<div class="col-md-7">
					John Doe
				</div>
			</div>
			<div class="hline"></div>
			<div class="exhline"></div>
			<div class="row">
				<div class="col-md-5">
					<span class="bold">
						Tags
					</span>
				</div>
				<div class="col-md-7">
					General
				</div>
			</div>
			<div class="hline"></div>
			<div class="exhline"></div>
			<div class="row">
				<div class="col-md-5">
					<span class="bold">
						Related Account
					</span>
				</div>
				<div class="col-md-7">
					
				</div>
			</div>
			<div class="hline"></div>
			<div class="exhline"></div>
			<div class="row">
				<div class="col-md-5">
					<span class="bold">
						Related Contact
					</span>
				</div>
				<div class="col-md-7">
					
				</div>
			</div>
			<div class="sechline"></div>
			<div class="exhline"></div>
			<div class="row">
				<div class="col-md-5">
					<span class="bold">
						Email
					</span>
				</div>
				<div class="col-md-7">
					
				</div>
			</div>
			<div class="hline"></div>
			<div class="exhline"></div>
			<div class="row">
				<div class="col-md-5">
					<span class="bold">
						Assigned To
					</span>
				</div>
				<div class="col-md-7">
					
				</div>
			</div>
		
		
		</div>
	
</div>