<div class="col-md-12  followupbox input-group">
  <input type="text" class="form-control" placeholder="tags" aria-describedby="basic-addon2">
  <span class="tags input-group-addon" id="basic-addon2">
  Add
  	
  </i></span>
</div>
<br>