<div class="contactinfotext">
<div class="contactheader"> CONTACT</div>

	<div>
		<div class="hline"></div><div class="exhline"></div>
		<div class="row ">
			<div class="col-md-2"><span class="bold">Name</span></div>
			<div class="col-md-2">John Doe</div>
			<div class="col-md-2"></div>
			<div class="col-md-2"><span class="bold">Department</span></div>
			<div class="col-md-4">Sales</div>
		</div>
		<div class="hline"></div><div class="exhline"></div>
		<div class="row ">
			<div class="col-md-2"><span class="bold">Email</span></div>
			<div class="col-md-2">johndoe@gmail.com</div>
			<div class="col-md-2"></div>
			<div class="col-md-2"><span class="bold">Reports To</span></div>
			<div class="col-md-4">Ashley</div>
		</div>
		<div class="hline "></div><div class="exhline"></div>
		<div class="row ">
			<div class="col-md-2"><span class="bold">Phone</span></div>
			<div class="col-md-2">123.456.7890</div>
			<div class="col-md-2"></div>
			<div class="col-md-2"><span class="bold">Notify Owner</span></div>
			<div class="col-md-4">No</div>
		</div>
		<div class="hline"></div><div class="exhline"></div>

		<div class="row ">
			<div class="col-md-2"><span class="bold">Account</span></div>
			<div class="col-md-2">Deer Funds</div>
			<div class="col-md-2"></div>
			<div class="col-md-2"><span class="bold">Modified</span></div>
			<div class="col-md-4">Yesterday</div>
		</div>
		<div class="hline"></div><div class="exhline"></div>
		<div class="row ">
			<div class="col-md-2"><span class="bold">Title</span></div>
			<div class="col-md-2">1 Hour</div>
			<div class="col-md-2"></div>
			<div class="col-md-2"><span class="bold">Created</span></div>
			<div class="col-md-4">March 02, 2017</div>
		</div>
		<div class="hline"></div><div class="exhline"></div>
	</div>
<div class="contactheader"> ADDRESS INFORMATION</div>
<div class="hline"></div><div class="exhline"></div>
	<div class="row ">
			<div class="col-md-2"><span class="bold">Street</span></div>
			<div class="col-md-2">1 Broad Street</div>
			<div class="col-md-2"></div>
			<div class="col-md-2"><span class="bold">PO Box</span></div>
			<div class="col-md-4">1300</div>
		</div>
		<div class="sechline"></div><div class="exhline"></div>
		<div class="row ">
			<div class="col-md-2"><span class="bold">City</span></div>
			<div class="col-md-2">Philadelphia</div>
			<div class="col-md-2"></div>
			<div class="col-md-2"><span class="bold">State</span></div>
			<div class="col-md-4">PA</div>
		</div>
		<div class="hline"></div><div class="exhline"></div>
		<div class="row ">
			<div class="col-md-2"><span class="bold">Postal Code</span></div>
			<div class="col-md-2">19103</div>
			<div class="col-md-2"></div>
			<div class="col-md-2"><span class="bold">Country</span></div>
			<div class="col-md-4">US</div>
		</div>
		
<div class="contactheader"> TROUBLE TICKET HISTORY</div>



	<div class="hline"></div><div class="exhline"></div>

		<div class="row "><span class="bold">
			<div class="col-md-3">Name</div>
			<div class="col-md-3">Status</div>
			<div class="col-md-3">Date & Time</div>	
			</span>	
		</div>
		<div class="hline"></div><div class="exhline"></div>

		<div class="row ">
			<div class="col-md-3">Trouble Ticket 1</div>
			<div class="col-md-3">Recieved</div>
			<div class="col-md-3">Recieved</div>		
		</div>
		<div class="hline"></div><div class="exhline"></div>
		<div class="row ">
			<div class="col-md-3">Trouble Ticket 2</div>
			<div class="col-md-3">Low</div>
			<div class="col-md-3">Low</div>		
		</div>
		<div class="hline"></div><div class="exhline"></div>
		<div class="row ">
			<div class="col-md-3">Trouble Ticket 3</div>
			<div class="col-md-3">Open</div>
			<div class="col-md-3">Open</div>		
		</div>
		<div class="hline"></div><div class="exhline"></div>
		<div class="row ">
			<div class="col-md-3">Trouble Ticket 4</div>
			<div class="col-md-3">1 Hour</div>
			<div class="col-md-3">1 Hour</div>		
		</div>
		<div class="hline"></div><div class="exhline"></div>
		<div class="row ">
			<div class="col-md-3">Trouble Ticket 5</div>
			<div class="col-md-3">1 Hour</div>
			<div class="col-md-3">1 Hour</div>		
		</div>
		<div class="hline"></div><div class="exhline"></div>
	</div>
