
<div class=" row">
	
	<div class="qrow">
		<div class="hline"></div><div class="exhline"></div>
			<div class="question">
			<p class="faqhead">What is delyte?</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>

</div>
<div class=" row">
	
	<div class="qrow">
		<div class="hline"></div><div class="exhline"></div>
			<div class="question">
			<p class="faqhead">What are tags?</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
	</div>
</div>
<div class=" row">
	
	<div class="qrow">
		<div class="hline"></div><div class="exhline"></div>
			<div class="question">
			<p class="faqhead">What is an account?</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
	</div>
</div>
<div class=" row">
	
	<div class="qrow">
		<div class="hline"></div><div class="exhline"></div>
			<div class="question">
			<p class="faqhead">How do I assign a contact?</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
	</div>
</div>
<div class=" row">
	
	<div class="qrow">
		<div class="hline"></div><div class="exhline"></div>
			<div class="question">
			<p class="faqhead">How do I set ticket priority?</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
	</div>
</div>
<div class=" row">
	
	<div class="qrow">
		<div class="hline"></div><div class="exhline"></div>
			<div class="question">
			<p class="faqhead">Question Title Displayed Here</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
	</div>
</div>
<div class=" row">
	
	<div class="qrow">
		<div class="hidden-xs sechline"></div><div class="hidden-lg hidden-md hidden-sm hline"></div>
			<div class="question">
			<p class="faqhead">Question Title Displayed Here</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
			<div class="hline"></div><div class="exhline"></div>
	</div>

</div>
