<div class="messagehead">Help! Issues Logging In 
	<i class="fa fa-paperclip" aria-hidden="true"></i>
</div>

<br>
<div class="col-md-12 subtext">
	<div class="row">
	Hello Support,
	</div>
	<br>
	<div class="row">
	I am unable to login to my account. i tried resetting my password but I still cannot login. Can you please help.
	</div>
	<br>
	<div class="row">
	<p>Thank you,</p>
	<p>Customer</p>
	</div>
	<br>
	<div class="row">
		<div class="col-md-8">
		</div>
		<div class="col-md-4">
		<div class="btnrow">
			<button class="btn btn-default msgbtn">
				<span class="msgicon fa fa-reply" aria-hidden="true">		
				</span>
			</button>
				<button class="btn btn-default msgbtn">
				<span class="msgicon glyphicon glyphicon-arrow-right">
				</span>
			</button>	
			<button class="btn btn-default combtn msgbtn">
				<span class="msgicon">
					Comment
				</span>
			</button>

		</div>

		</div>
		<br>
	</div>
</div>