<div class="section">
			<div class="container">
				<div class="row">
					<div class="message tabtext">
						Message
					</div>
					<div class="contactinfo tabtext inneractive">
						Contact Info
					</div>
					<div class="faq tabtext inneractive">
						FAQ
					</div>

				</div>
				
			    <div class="row">
			    	<div class="col-md-7 texttemp maintext">
			    		<% include message %>

			    	</div>
			    </div>
			 </div>
		 </div>