<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<div class="bodypart container-fluid ">
    <header>
        <% include ../partials/header %>
    </header>
    <br>
    <br>

    <div class="col-md-8">
    
        <% include ../partials/mainsection/tabs%>
        <div class="divider"></div>
    </div>
  
    <!-- <div class="col-md-1 divider">
    </div> -->
    <div class="col-md-4 sidebox">
    <div class="container-fluid">
        <br>    
        <br>
        
            <div class="row">
                <%include ../partials/sidesection/toolbar%>
            </div>
            <div class="row">
                <%include ../partials/sidesection/followup%>
            </div>
            <div class="row">
                <%include ../partials/sidesection/tags%>
            </div>
            <div class="row">
                <%include ../partials/sidesection/loginstat%>
            </div>
        </div>
    </div>


    <footer>
        <% include ../partials/footer %>
    </footer>
</div>
</body>
</html>